@import "colors.css";

.atom_icon{
    font-size: 1.1rem;
}

.atom_heading1{
    padding: 1em;
}

.atom_heading2{
    padding: 0;
}

.atom_text1{
    padding: 1em;
}

.atom_text2{
    padding: 0 0 0 0.5em;
    margin-top: 0;
}

.atom_button-neutral{
  background-color: var(--white-color);
  padding: 1em;
  border: 1px solid black;
  border-radius: 12px;
}

.atom_button-neutral:hover{
  background-color: var(--custom-color-1);
  border: 1px solid var(--custom-color-1);
}


.atom_button-positive{
    background-color: var(--grey-color);
    padding: 1em;
    border: 1px solid var(--grey-color);
    border-radius: 12px;
}

.atom_button-positive:hover{
    background-color: var(--custom-color-2);
    border: 1px solid var(--custom-color-2);
}

.atom_button-grey{
  padding: 1rem 2rem;
  background-color: 1px solid var(--grey-color);
  border-radius: 12px;
  border: 0;
}


.atom_input {
    padding: 0.8rem 1rem;
    border: 1px solid black;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.dropbtn {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #000000;
    width: 220px;
    height: 42px;
    border-radius: 2px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown i {
    padding-left: 125px;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    border: 1px solid #000000;
    z-index: 1;
    border-radius: 2px;
    background-color: white;
  }

  .dropdown-padding {
    height: 5px;
  }
  
  .dropdown-content a {
    color: #000000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #000;
  }

  .dropdown-content a:last-child {
    border-bottom: none;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
}
  
  .dropdown:hover .dropdown-content {
    display: block; 
}
  
  .dropdown:hover .dropbtn {
    background-color: #FFFFFF;
}

.grid-placement__c2-2r3 button {
  margin-left: 10px;
}

#user-text {
  cursor: pointer;
}