
@import "colors.css";

.atom_icon{
    padding: 1em;
    padding-right: 0;
}

.atom_heading1{
    padding: 1em;
}

.atom_text1{
    padding: 1em;
}

.atom_button-neutral{
    background-color: var(--white-color);
    padding: 1rem 2rem;
    border-radius: 15px;
    border: 2px solid black;
}

.atom_button-positive{
    padding: 1rem 2rem;
    background-color: var(--light-grey-color);
    border-radius: 15px;
    border: 0;
}

.atom_input {
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 1em;
}

.card_heading3 {
    padding: 0 !important;
    font-size: large;

}