
.grid-placement__c1r1-3{
    grid-column: 1;
    grid-row: 1 / 4;
}

.grid-placement__c2-3r2 {
    grid-column: 2 / 4;
    grid-row: 2;
}
.grid-placement__c1r1 {
    grid-column: 1;
    grid-row: 1;
}

.grid-placement__c1r3 {
    grid-column: 1;
    grid-row: 3;
}


.grid-placement__c2-3r1 {
    grid-column: 2 / 4;
    grid-row: 1;
}

/* don't know if this name is correct */
.grid-placement__c2-2r3 {
    grid-column: 3 / 2;
    grid-row: 2;
}