.molecule_logo{
    display: flex;
    padding:1em;
}

.molecule_header-and-text{
    padding: 3em;
}

.molecule_login-or-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.molecule_login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
}

.molecule_signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.molecule_checkbox_label {
    border: black solid 1px;
}