.molecule_logo {
    display: flex;
    padding: 1em;
}

.molecule_header-and-text {
    /* padding: 3em; */
    margin: 0.5rem;
    display: grid;
    grid-template-columns: auto auto;
    width: max-content;
    align-items: center;
    grid-gap: 0.5rem;
}

.molecule_login-or-signup {
    display: grid;
    grid-template-columns: min-content min-content;
    justify-content: center;
    grid-gap: 2rem;
    align-items: center;
}

.molecule_login-form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-gap: 2rem;
    justify-items: center;
}

.molecule_image-and-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    /* gap: 20px; */
    border: solid 1px black;
    width: 8rem;
    height: 8rem;
    background-color: #CCCCCC;
}

.molecule_paginator {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    grid-auto-columns: min-content;
}

.molecule_paginator--item {
    cursor: pointer;

}

.molecule_signup-form {
    display: grid;
    grid-auto-flow: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.molecule_list__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin: 0;
}

.molecule_list__list li {
    cursor: pointer;
}

.molecule_list > ul {
    column-gap: 3rem;
}

.molecule_text_and_btn {
    display: flex;
    justify-content: center;
    padding: 1em;
    justify-content: end;
    gap: 3em;
    padding-right: 2em;
}

.molecule_text_and_btn > p{
    padding: 0 !important;
    cursor: pointer;
}

.molecule_text_and_btn > button{
    align-self: center;
    cursor: pointer;
}

.molecule_icon_and_link > a:active {
    font-weight: bold;
}

.molecule_icon_and_link > a {
    color: black;
    cursor: pointer;
   
}


.molecule_heading-icon {
    display: flex;
    gap: 3px;
}

.molecule_heading-icon i {
    cursor: pointer;
}

.heading_mol_input_btn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 630px;
}

.heading_mol_input_btn > h4{
    font-size: 16px;
    line-height: 19.36px;
    letter-spacing: -0.32px;

}

.molecule_input_and_button {
    display: flex;
    border: 1px solid black;
    gap: 20px;
    padding: 20px;
    align-items: flex-start;
    width: 285px;
    height: 78px;
}

.molecule_input_and_button > input {
    width: 161px;
    height: 35px;
    border: 0.5px solid #000000;
    border-radius: 2px;
    padding: 10px;
}

.molecule_input_and_button > button {
    width: 99px;
    height: 35px;
    border-radius: 12px;
    padding: 10px 20px 10px 20px;
    font-size: 12px;
    background-color: #CCCCCC;
}

.listItems_container{
    height: 458px;
}

.molecule_header-and-text {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    align-content: center;
}

.molecule_checkbox {
    display:grid;
    grid-template-columns: auto auto;
}

.molecule_project-state {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 2.5em;
}

.molecule_project-state > p:nth-child(1n) {
    border: 1px solid black;
    padding: 15px;
}

.molecule_project-state > p:nth-last-child(3) {
    background-color: #CCCCCC;
    border: none !important;
}

.molecule-proj_info-checkboxes {
    display: flex;
    width: 270px;
    margin: auto;
    justify-content: space-between;
    margin-top: 1em;
}

.mol_checkbox-list-heading > .molecule-input-text{
    display: flex;
    gap: 10px;
}

.mol_checkbox-list-heading{
    display: flex;
    flex-direction: column;
}

.molecule_list-wrapper > ul{
    padding: 0;
}

.molecule_list-wrapper {
    display: flex;
    flex-direction: column;
}

.molecule_list-wrapper > h4 {
    align-self: center;
}

.molecule_heading-abt-img {
    display: flex;
    margin: 0 2em 2em;
    gap: 100px;
}

.mol_heading-abt > p {
    padding: 0 !important;
}

.mol_heading-abt {
    margin-left: 4em;
    margin-top: 1em;
}

.molecule_text_and_dropdown {
    display: flex;
    padding: 1em;
    padding-right: 1em;
    justify-content: space-between;
    gap: 3em;
    padding-right: 2em;
}

.molecule-modal-proc-first-section {
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.molecule-modal-proc-first-section > i{
    font-size: xx-large;
}

.molecule_proc-parentboxes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.molecule_proc-parentboxes > h4:nth-child(1n){
    border: 1px solid black;
    padding: 21px;
    width: 74px;
}

.molecule_proc-parentboxes > i:nth-child(1n) {
    font-size: xx-large;
}

.molecule_proc-parentboxes > h4:nth-last-child(3){
    background-color: #CCCCCC;
    border: none !important;
}

.molecule_modal_in-output {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.molecule_modal_in-output > .molecule_header-and-text {
    align-content: unset !important;
}

.molecule_modal_in-output > .molecule_header-and-text > p {
    padding: 0;
}

.molecule_modal_in-output > div:nth-child(1n){
    border: 1px solid black;
    padding: 2em;
}

.molecule_modal_in-output > div > ul {
    display: flex;
    flex-direction: column;
    padding: 17px;
}

.molecule_modal_in-output > div:nth-last-child(3){
    background-color: #CCCCCC;
    border: none !important;
    width: 400px;
    height: 266px;
}

.molecule_modal_in-output > i:nth-child(1n) {
    font-size: xx-large;
}

.molecule_modal-proc-children {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.molecule_modal-proc-children > h4:nth-child(1n){
    border: 1px solid black;
    padding: 21px;
    width: 74px;
}

.molecule_modal-proc-children > i:nth-child(1n) {
    font-size: xx-large;
}

.molecule_modal-proc-third-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 0;
}

.molecule_modal-proc-third-section > i { 
    font-size: xx-large;
}


.molecule_modal_org_in-output {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.molecule_modal_org_in-output > .molecule_header-and-text {
    align-content: unset !important;
}

.molecule_modal_org_in-output > .molecule_header-and-text > p {
    padding: 0;
}

.molecule_modal_org_in-output > div:nth-child(1n){
    border: 1px solid black;
    padding: 2em;
    width: 100px;
}

.molecule_modal_org_in-output > div > ul {
    display: flex;
    flex-direction: column;
    padding: 17px;
}

.molecule_modal_org_in-output > div:nth-last-child(3){
    background-color: #CCCCCC;
    border: none !important;
    width: 411px;
    height: 283px;
}

.molecule_modal_org_in-output > i:nth-child(1n) {
    font-size: xx-large;
}

.molecule_modal_org_lists {
    display: flex;
    justify-content: center;
    gap: 71px;
    margin: auto;
    width: 468px;
    margin-top: 1em;
}

.molecule_modal_org_lists > div{
    width: 129px;
}

.molecule_modal_org_lists > div > ul {
    display: flex;
    flex-direction: column;
    padding: 26px;
}



