.molecule_logo{
    display: flex;
    padding:1em;
}

.molecule_header-and-text{
    padding: 3em;
}

.molecule_login-or-signup {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.molecule_login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 30px;
    gap: 20px;
}

.molecule_text_and_btn {
    display: flex;
    justify-content: space-evenly;
    padding: 1em;
    height: 58px;
}
.molecule_text_and_btn > p{
    padding: 0 !important;

}