@import "colors.css";

.organism_start-info {
    background-color: var(--black-color);
    color: var(--white-color);
}

.organism_login-or-signup{

}

nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100vw;
    height: 75px;
}

nav > ul > div > a {
    color: black; 
}

nav > ul {
    display: flex;
    padding: 1em;
    justify-content: center;
}

