@import "colors.css";

.organism_start-info {
    background-color: var(--custom-color-1);
}

/* .organism_login-or-signup {} */

.organism_buttonFilledPicture_btnParent {
    display: inline-block;
}

.organism_buttonFilledPicture {
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    flex-wrap: wrap;
    width: 80%;
    height: 50%;
}

.organism_buttonFilledPicture div{
    margin: 50px 50px;
}

.organism_buttonFilledPicture img {
    height: 140px;
    width: 140px;
    margin: 50px 50px;
}