@import "colors.css";

.organism_start-info {
    background-color: var(--custom-color-1);
}

.organism_login-or-signup{

}

nav {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100vw;
}
.rightElements_wrapper{
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.rightElements_wrapper > button{
    height: 3rem;
    padding: 12px;
    width: 106px;
    border-radius: 17px;
}

nav > ul {
    display: flex;
    padding: 1em;
}

/* nav > div > button {
    width: 120px;
    color: red
} */

