.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.top-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.bottom-left {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

.bottom-right {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.paginator-placement {
    display: grid;
    justify-content: center;
    width: 80%;
    padding-top: 3rem;
}