.template_start {

}


.template_login {
    
}

.template_signup {

}

.template_loggedin {

}

.template_process {
    width: 1116px;
    height: 606px;
    top: 209px;
    left: 162px;
    border: 1px solid green;
}